# Copy this to .env and fill with real values
PORT=3000
SOCKET_PORT=
MONGO_URI=mongodb://localhost:27017/tally
REDIS_URL=redis://localhost:6379
JWT_SECRET=your_jwt_secret
REFRESH_JWT_SECRET=your_refresh_jwt_secret
GOOGLE_EMAIL=your_google_email
GOOGLE_PASSWORD=your_google_password
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
CLOUDINARY_API_SECRET=
CLOUDINARY_API_KEY=
CLOUDINARY_CLOUD_NAME=
