.table-container {
  width: 100%;
  overflow-x: auto; 
}

.task-history-table {
  width: 100%;
  border-collapse: collapse;
  font-family: var(--font-primary);
  background-color: transparent;
}


.task-history-table thead tr {
  background-color: #d1d5db; 
}

.task-history-table th {
  padding: 14px var(--spacing-sm);
  text-align: left;
  font-size: var(--font-size-md);
  font-weight: 600;
  color: var(--color-text-primary);
}


.task-history-table th:first-child {
  border-top-left-radius: var(--border-radius-md);
  border-bottom-left-radius: var(--border-radius-md);
}

.task-history-table th:last-child {
  border-top-right-radius: var(--border-radius-md);
  border-bottom-right-radius: var(--border-radius-md);
}

.sort-icon {
  font-size: 14px;
  vertical-align: middle;
  margin-left: 4px;
  cursor: pointer;
  color: var(--color-text-secondary);
}


.task-history-table td {
  padding: var(--spacing-md) var(--spacing-sm);
  vertical-align: middle; 
  border-bottom: none; 
  font-size: var(--font-size-sm);
  color: var(--color-text-secondary);
}



.status-pill {
  font-weight: 600;
}

/* Matches "In Stock" (Green) */
.status-pill.in-stock {
  color: #27ae60;
}

/* Matches "Low Stock" (Yellow) */
.status-pill.low-stock {
  color: #f1c40f;
}

/* Matches "Out of Stock" (Red) */
.status-pill.out-of-stock {
  color: #eb5757;
}


.status-completed {
  color: #4caf50;
}

.status-deleted {
  color: #ff5252;
}

/* Hover effect */
.task-history-table tbody tr:hover {
  background-color: var(--color-bg-light);
  transition: background-color var(--transition-fast);
}